/Java/Algorithms/multi/nbproject/private/
/Java/Algorithms/Islandland/nbproject/private/
/Java/Algorithms/pipes/nbproject/private/
/Java/Algorithms/shoeShopping/nbproject/private/
Nodejs/HelloWorld/node_modules/
Nodejs/HelloWorld/batch/
Nodejs/HelloWorld/data/db/
Nodejs/HelloWorld/build/
