doctype html
html
  head
    title= title
    link(rel='stylesheet', href='build/css/vendors.min.css')
    link(rel='stylesheet', href='build/css/common.min.css')

    script(src='build/js/vendors.min.js')
    script(src='build/js/common.min.js')

    block head
  body
    include .\menu.jade
    block content
