extends layout

block content
    h1= title
    // DELETE USER
    form#formDeleteUser(name="deleteUser", method="post")
        input#inputUserId(type='text', placeholder='Id', name="user_id")
        br
        button#btnAddUser(type="submit") Delete User
    // /DELETE USER
